/*ボックス*/

p {
  width: 200px;
  height: 80px;
  color: #fff;
  background: #999;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(255, 0, 0, 0.5);
  float: left;
  clear: left;
  display: flex;
  visibility: visible;
  overflow: visible;
  clip: auto;
}
