/*アニメーション*/

body{
}

h2{
}

div{
  width: 100px;
  height: 100px;
  color: #fff;
  background: #999;
  transform: translate(200px,100px) scale(1.5, 1.5) rotate(45deg);
  transform-origin: top left;
  transition-property: transform;
  transition-duration: 5s;
}
